body {
    margin:0;
    background-image: linear-gradient( 111.1deg,  rgba(0,40,70,1) -4.8%, rgba(255,115,115,1) 82.7%, rgba(255,175,123,1) 97.2% );
    background-size: cover;
    font-family: 'Lato', sans-serif;
}
.nav{
    display:inline;
    margin-left:66em;
    font-family: 'Lato', sans-serif;
}
main {
  
   
    width:100%;
    height:400px;
    margin-bottom:40%;
    margin-top:6%;
    font-family: 'Lato', sans-serif;




}

.starting-txt{
    margin: 0 auto;
    width:325px;
    height:300px;
    color:white;
  
}

.website-name{
display:inline;
}

#anime-query {
    width:17em;
    height:2em;
    
}
input[type="text"] {
    font-size:20px;
}
.navbar {
    background-color:rgba(0,40,60,1);
    color:silver;
    font-family: 'Lato', sans-serif;
}

.container-one{
  display:flex;
  justify-content:space-around;
  align-items:center;
  font-family: 'Lato', sans-serif;
}
.try-me {
    margin-left:40%;
    margin-bottom:0%;
    font-family: 'Lato', sans-serif;
}
.try-button{
    width:50%;
}
