body {
    margin:0;
    background-image: linear-gradient( 111.1deg,  rgba(0,40,70,1) -4.8%, rgba(255,115,115,1) 82.7%, rgba(255,175,123,1) 97.2% );
    background-size: cover;
    font-family: 'Lato', sans-serif;
}
.nav{
    display:inline;
    margin-left:66em;
    font-family: 'Lato', sans-serif;
}
main {
  
   
    width:100%;
    height:400px;
    margin-bottom:40%;
    margin-top:6%;
    font-family: 'Lato', sans-serif;




}

.starting-txt{
    margin: 0 auto;
    width:600px;
    height:150px;
    text-align:center;
    color:white;
    font-family: 'Lato', sans-serif;
   
  
}

.website-name{
display:inline;
}

#anime-query {
    width:17em;
    height:2em;
    
}
input[type="text"] {
    font-size:20px;
}
.navbar {
    background-color:rgba(0,40,60,1);
    color:silver;
     font-family: 'Lato', sans-serif;
}
.container-a {
    width:40%;
    height:30%;
    margin:50px;
     font-family: 'Lato', sans-serif;
}
.container-one{
  display:flex;
  justify-content:space-around;
  align-items:center;
   font-family: 'Lato', sans-serif;
}
.try-me-text{
  color:white;
  margin-left:38%;
  margin-bottom:70%;
}
.card-title{
    color:rgba(0,40,70,1);
}
li {
    list-style-type: none;
}

.card{
    width:300px;
    margin:25px;
}

.container-b {
    padding:30%;
    width:300px;
     font-family: 'Lato', sans-serif;
}
